.form{
    border: 1px solid #ccc;
    height: 80px;
}

.form-add {
    width: 300px;
    margin: 0 auto;

}
button{
    width: 50%;
    height: 40px;
    background: brown;
    color: #fff;
}

.green {
    background: green;
    color: #fff;
}
.red {
    background: red;
}
.wihte{
    background: #fff;
}
.Access{
    color: green;
}